<section>
    <h2>{{ site.data.social.title }}</h2>
    <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<form action="https://gmail.us19.list-manage.com/subscribe/post?u=6fea6fb4036602df5f7a7e931&amp;id=6fceaf42a0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6fea6fb4036602df5f7a7e931_6fceaf42a0" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" class="button"></div>
    </div>
</form>
<!--End mc_embed_signup-->
    <ul class="icons">
        {% for link in site.data.social.follow_section %}
            <li><a href="{{ link.link_url }}" class="icon style2 {{ link.icon }}"><span class="label">{{ link.title }}</span></a></li>
        {% endfor %}
    </ul>
</section>
